* {
	border: none;
	margin: 0;
	padding: 0;
	font-family: roboto;
}
*:focus{
	outline:0
}
:root {
	--blue-color:#2196F3;	
	--orange-color:#FF5722;
	/*	color: var(--blue-color);	*/
}
body {
	overflow-x: hidden;
}
.main-wrapper {
	width: 100vw;
	overflow:none;
}
/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--orange-color);
	border-radius: 20px;
}

/*LOGO DESIGN*/
#logoFirst {
	font-size: 65px;
	color: var(--blue-color);
	font-weight: 500;
}
#logoSecond {
	font-size: 73px;
	color: var(--orange-color);
	font-weight: 500;
}

/*HEADER*/
form {
	background: none;
}
header {
	width: 100%;
	height: 150px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.23);
}
header #headerContent {
	width: 1500px;
	margin: auto;
	height: 100%;
}
header #logga {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 26px;
}
header form {
	width: 226px;
	height: 70px;
	margin-top: -8px;
}
header span#rightButtons {
	right: calc(50% - 750px);
	top: 67px;
	position: absolute;
}
#creatAccount {
	position: relative;
	left: 362px;
	top:-43px
}
header button {
	border: 1px solid var(--orange-color);
	border-radius: 20px;
	height: 35px;
	background:none;
	color: var(--orange-color);
	font-size: 17px;
	padding: 0 10px;
	cursor: pointer;
	margin-left: 260px;
	position: relative;
	top:-40px;
	width: 100px;
	left: -17px;
}
header button#logOut {
	margin-top: 110px;
	margin-left: 84px;
}
header input {
	border-bottom: solid 2px var(--blue-color);
	height: 15px;
	font-size: 17px;
	color: var(--blue-color);
	width: 226px;
	background: none;
	margin-top: 18px;
}
header input::placeholder {
	color:#C2C2C2;
}
header a {
	color:var(--orange-color);
	text-decoration: none;
	font-size: 17px;
}
header p {
	top: 70px;
	left: calc(50% - 750px);
	position: absolute;
	color: var(--blue-color)
}
#addAdHeaderButton {
	margin-right: 50px;
}
#seeYourAds {
	position: absolute;
	top: 70px;
	left: calc(50% - 540px);
}
/*Footer*/
/*See in "footer.php" for actual styling*/
/*footer {
	width: 100vw;
	background-color: #fff;
	box-shadow: 0 -1px 3px rgba(0,0,0,0.23);
	margin-top: 200px;
	height: 75px;
}
.footerContainer {
	width: 293px;
	margin-left: calc(50vw - 146px);
	height: 33px;
	position: absolute;
	margin-top: 20px;
}
footer .footerContainer p {
	color: #c2c2c2;
	font-size: 14px;
}*/


/*Add Annons*/
.addAd {
	width: 558px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 29px;
	margin-bottom: 143px;
}
.addAd h2 {
	color: var(--blue-color);
	font-size: 15px;
	font-weight: 400;
}

.addAd input, .addAd textarea, .addAd select {
	width: 543px;
	border: 1px solid #E1E1E1;
	background-color: #FCFCFC;
	padding: 6px;
	margin-bottom: 10px;
	font-size: 13px;
	color: #555;
}

/*Dropdown menu*/
.addAd select {
	color:#c2c2c2;
}
.addAd select:hover {
	cursor: pointer;
}
.addAd option {
	color:#555;
}
.addAd input::placeholder, .addAd textarea::placeholder {
	color: #c2c2c2;
	font-size: 13px;
}
.addAd button {
	border: 1px solid var(--orange-color);
	border-radius: 200px;
	height: 35px;
	width: 110px;
	background-color: #fff;
	color: var(--orange-color);
	font-size: 17px;
	cursor: pointer;
	float: right;
	margin-top: 22px;
	clear: both;
}
.addAd a {
	color: var(--blue-color);
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
}

/*Ladda upp en bild dialog*/
.uploadImage {
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	z-index: -1;
	position: absolute;
	overflow: hidden;
}
.uploadImage + label{
	color: var(--blue-color);
	cursor: pointer;
}

/* Display of annons */
#latestAds {
	width: 350px;
	margin: 20px auto 0 auto;
}
#latestAds h1,  #hottestAds h1, #hottestModels h1{
	font-size: 20px;
	font-weight: 400;
	margin-left: -80px;
}
.annons {
	padding:20px 40px;
	margin-left: -40px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	width: 350px;
	margin-bottom: 20px;
}
.annons:last-child {
	border:none;
}
.annons h2 {
	font-size: 20px;
	color:var(--orange-color);
	margin-bottom: 20px;
	font-weight: 400;
	margin-bottom: 5px;
}
.annons p {
	color: var(--blue-color);
	font-size: 15px;
}
.annons .annonsImg {
	width: 350px;
	height: 200px;
	overflow: hidden;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.annons img {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}

/* ADS NEAR YOU */
#adsNearYouContainer {
	width: 400px;
	margin: 0 auto;
	text-align: right
}
#adsNearYouContainer h1 {
	margin-top: 20px;
	font-size: 28px;
	color: var(--orange-color);
}
#adsNearYouContainer button {
	background: none;
	font-size: 14px;
	color: var(--blue-color);
	cursor: pointer;
	margin-top: 3px;
}

/* SIGN UP */
#signupContainer {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 80px;
}
#signupContainer input{
	width: 396px;
	height: 20px;
	padding: 1px 2px;
	margin-top: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#signupContainer button {
	padding: 6px 20px;
	background: none;
	color: var(--orange-color);
	font-size: 17px;
	margin-top: 15px;
	float: right;
	border: 1px solid var(--orange-color);
	border-radius: 200px
}

/* Ad near you */
.annonsNearYou {
	margin: 0 auto;
}